 .u-section-1 {
  background-image: url("images/g4f21273ea956b8cb4e01d24048e301fb9b2e5f60029af0995eacb38aa037d72347a41d990a4789a377b6a1c79776fa140e605080c371f85a81033bc50370998b_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 818px;
}

.u-section-1 .u-slider-1 {
  min-height: 398px;
  width: 705px;
  margin: 370px auto 50px 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: 32px;
  height: 10px;
  top: auto;
  left: 64px;
  right: auto;
  bottom: 37px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 65px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 65px;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
}

.u-section-1 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1 .u-slider-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: 196px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-1 .u-slider-1 {
    width: 540px;
    margin-top: 167px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    inset: auto auto 31px 0px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 65.32% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
    margin-top: 110px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    inset: auto auto 25px 0px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 676px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 576px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 342px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  width: 304px;
  margin: 43px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 383px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 30px 10px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-3 {
  line-height: 1.6;
  font-weight: 500;
  margin: 20px 0 0 auto;
}

.u-section-2 .u-text-4 {
  margin-left: auto;
  font-weight: 700;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 193px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 218px;
}

.u-section-2 .u-container-layout-4 {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
  padding: 18px 20px;
}

.u-section-2 .u-text-5 {
  line-height: 2;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-2 .u-image-1 {
    height: 275px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 152px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 443px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 244px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 349px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 366px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-2 .u-image-1 {
    height: 215px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 230px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 638px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 638px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-line-1 {
  transform-origin: left center;
  border-style: solid;
  width: 87px;
  height: 7px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 23px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 23px 0 0;
}

.u-section-3 .u-text-3 {
  width: 220px;
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-style: normal;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 33px auto 0;
  padding: 10px 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 638px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 516px;
  height: 507px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 568px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    height: 508px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 577px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 22px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-top: 24px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-3 .u-image-1 {
    height: 373px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 426px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 586px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    height: 527px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 324px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: linear-gradient(45deg, #30274e, #2b2933);
}

.u-section-4 .u-sheet-1 {
  min-height: 812px;
}

.u-section-4 .u-text-1 {
  width: 740px;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 740px;
  font-size: 1.25rem;
  margin: 32px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 99px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 447px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 23px 30px 30px;
}

.u-section-4 .u-group-1 {
  min-height: 170px;
  margin-top: -51px;
  margin-bottom: 0;
  margin-right: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  width: 96px;
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px 12px 0;
}

.u-section-4 .u-text-5 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

.u-section-4 .u-text-6 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 4px 4px 0px 0 rgba(0,0,0,0.1);
  margin: 32px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 447px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 23px 30px 30px;
}

.u-section-4 .u-group-2 {
  min-height: 170px;
  margin-top: -51px;
  margin-bottom: 0;
  margin-right: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  width: 96px;
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-4 .u-text-8 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px 12px 0;
}

.u-section-4 .u-text-9 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

.u-section-4 .u-text-10 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 4px 4px 0px 0 rgba(0,0,0,0.1);
  margin: 32px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 447px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 23px 30px 30px;
}

.u-section-4 .u-group-3 {
  min-height: 170px;
  margin-top: -51px;
  margin-bottom: 0;
  margin-right: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  font-size: 1.25rem;
  width: 116px;
  margin: 24px auto 0;
}

.u-section-4 .u-text-12 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px 12px 0;
}

.u-section-4 .u-text-13 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

.u-section-4 .u-text-14 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 4px 4px 0px 0 rgba(0,0,0,0.1);
  margin: 32px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 447px;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 23px 30px 30px;
}

.u-section-4 .u-group-4 {
  min-height: 170px;
  margin-top: -51px;
  margin-bottom: 0;
  margin-right: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-15 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  font-size: 1.25rem;
  width: 128px;
  margin: 25px auto 0;
}

.u-section-4 .u-text-16 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 7px 12px 0;
}

.u-section-4 .u-text-17 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

.u-section-4 .u-text-18 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 4px 4px 0px 0 rgba(0,0,0,0.1);
  margin: 32px auto 0;
  padding: 12px 42px 13px 41px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-4 .u-group-2 {
    margin-right: initial;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 369px;
  }

  .u-section-4 .u-group-3 {
    margin-right: initial;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 369px;
  }

  .u-section-4 .u-group-4 {
    margin-right: initial;
  }

  .u-section-4 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-17 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 38px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-4 .u-group-2 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-4 .u-group-3 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 30px;
  }

  .u-section-4 .u-group-4 {
    margin-top: 0;
    margin-right: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1440px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-text-16 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1359px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 1054px;
  grid-gap: 27px;
}

.u-section-5 .u-list-item-1 {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-1 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-5 .u-text-4 {
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-2 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-5 .u-text-6 {
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-5 .u-list-item-3 {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-3 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-5 .u-text-8 {
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-5 .u-list-item-4 {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-4 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-4 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-5 .u-text-10 {
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-5 .u-list-item-5 {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-5 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-5 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-5 .u-text-12 {
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 0;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-5 .u-list-item-6 {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-6 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-6 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-5 .u-text-14 {
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 0;
}

.u-section-5 .u-btn-6 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
    min-height: 869px;
  }

  .u-section-5 .u-image-1 {
    height: 225px;
  }

  .u-section-5 .u-image-2 {
    height: 225px;
  }

  .u-section-5 .u-image-3 {
    height: 225px;
  }

  .u-section-5 .u-image-4 {
    height: 225px;
  }

  .u-section-5 .u-image-5 {
    height: 225px;
  }

  .u-section-5 .u-image-6 {
    height: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1498px;
  }

  .u-section-5 .u-image-1 {
    height: 266px;
  }

  .u-section-5 .u-image-2 {
    height: 266px;
  }

  .u-section-5 .u-image-3 {
    height: 266px;
  }

  .u-section-5 .u-image-4 {
    height: 266px;
  }

  .u-section-5 .u-image-5 {
    height: 266px;
  }

  .u-section-5 .u-image-6 {
    height: 266px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1682px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -32px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1406px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-1 {
    height: 194px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-2 {
    height: 194px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-3 {
    height: 194px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-4 {
    height: 194px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-5 {
    height: 194px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-6 {
    height: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3334px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 235px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.625rem;
  }

  .u-section-5 .u-image-2 {
    height: 235px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.625rem;
  }

  .u-section-5 .u-image-3 {
    height: 235px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.625rem;
  }

  .u-section-5 .u-image-4 {
    height: 235px;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.625rem;
  }

  .u-section-5 .u-image-5 {
    height: 235px;
  }

  .u-section-5 .u-text-11 {
    font-size: 1.625rem;
  }

  .u-section-5 .u-image-6 {
    height: 235px;
  }

  .u-section-5 .u-text-13 {
    font-size: 1.625rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1012px;
}

.u-section-6 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 967px;
  margin: 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 245px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 587px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-6 .u-icon-1 {
  height: 53px;
  width: 53px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-6 .u-image-2 {
  background-image: url("images/Untitled-1.png");
  background-position: 50% 50%;
  min-height: 386px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 0 17px;
}

.u-section-6 .u-text-4 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-6 .u-text-5 {
  width: 220px;
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-style: normal;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 238px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-6 .u-image-1 {
    height: 276px;
  }

  .u-section-6 .u-image-2 {
    min-height: 375px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 389px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1327px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    height: 428px;
  }

  .u-section-6 .u-image-2 {
    min-height: 594px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 337px;
  }

  .u-section-6 .u-image-2 {
    min-height: 446px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 340px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 167px;
  }

  .u-section-6 .u-image-1 {
    height: 207px;
  }

  .u-section-6 .u-image-2 {
    min-height: 281px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 19px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 690px;
}

.u-section-7 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  margin: 60px auto 0;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 31px;
  margin: 24px auto 0;
}

.u-section-7 .u-list-1 {
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  min-height: 294px;
  grid-gap: 24px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2.2;
  letter-spacing: 1px;
  margin: 0 1px;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2.2;
  letter-spacing: 1px;
  margin: 0 1px;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2.2;
  letter-spacing: 1px;
  margin: 0 1px;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 43px auto 60px;
  padding: 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-icon-1 {
    color: rgb(248, 100, 73) !important;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 242px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 556px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 962px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 63px auto 0;
}

.u-section-8 .u-text-2 {
  width: 868px;
  font-size: 1.125rem;
  margin: 22px auto 0;
}

.u-section-8 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-8 .u-list-1 {
  grid-template-rows: repeat(3, auto);
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 600px;
  grid-gap: 0px;
}

.u-section-8 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/bg1-min.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-8 .u-group-1 {
  min-height: 218px;
  margin-bottom: 0;
  margin-top: 0;
  background-image: linear-gradient(var(--custom-color-1), var(--custom-color-2));
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-line-1 {
  width: 81px;
  height: 3px;
  transform-origin: right center;
  border-style: dotted;
  margin: 20px auto 0 0;
}

.u-section-8 .u-text-4 {
  margin: 21px 20px 0 0;
}

.u-section-8 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/bg3-min.jpg");
  background-size: cover, cover;
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-8 .u-group-2 {
  min-height: 218px;
  margin-bottom: 0;
  margin-top: 0;
  background-image: linear-gradient(var(--custom-color-1), var(--custom-color-2));
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-line-2 {
  width: 81px;
  height: 3px;
  transform-origin: right center;
  border-style: dotted;
  margin: 20px auto 0 0;
}

.u-section-8 .u-text-6 {
  margin: 21px 20px 0 0;
}

.u-section-8 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/2-min.jpg");
  background-size: cover, cover;
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px 0 0;
}

.u-section-8 .u-group-3 {
  min-height: 218px;
  margin-bottom: 0;
  margin-top: 0;
  background-image: linear-gradient(var(--custom-color-1), var(--custom-color-2));
}

.u-section-8 .u-container-layout-6 {
  padding: 30px;
}

.u-section-8 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-line-3 {
  width: 81px;
  height: 3px;
  transform-origin: right center;
  border-style: dotted;
  margin: 20px auto 0 0;
}

.u-section-8 .u-text-8 {
  margin: 21px 20px 0 0;
}

.u-section-8 .u-text-9 {
  letter-spacing: 0px;
  font-weight: 400;
  text-transform: none;
  margin: 18px auto 60px;
}

.u-section-8 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 495px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }

  .u-section-8 .u-text-6 {
    margin-right: 0;
  }

  .u-section-8 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    width: 720px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1137px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-2 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
  min-height: 865px;
}

.u-section-9 .u-shape-1 {
  height: 477px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1140px;
  margin: -390px auto 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 738px;
}

.u-section-9 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  padding: 30px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-2 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-9 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 28px 0 0;
}

.u-section-9 .u-btn-1 {
  font-weight: 700;
  border-style: none none solid;
  padding: 0;
}

.u-section-9 .u-text-4 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-9 .u-social-icons-1 {
  height: 31px;
  min-height: 16px;
  width: 197px;
  min-width: 120px;
  white-space: nowrap;
  margin: 28px auto 0 0;
}

.u-section-9 .u-icon-1 {
  height: 100%;
}

.u-section-9 .u-icon-2 {
  height: 100%;
}

.u-section-9 .u-icon-3 {
  height: 100%;
}

.u-section-9 .u-icon-4 {
  height: 100%;
}

.u-section-9 .u-icon-5 {
  height: 100%;
}

.u-section-9 .u-text-5 {
  font-size: 1.25rem;
  margin: 37px 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 738px;
}

.u-section-9 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  padding: 30px 50px;
}

.u-section-9 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-9 .u-form-1 {
  height: 368px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-9 .u-form-group-1 {
  margin-left: 0;
}

.u-section-9 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-9 .u-form-group-2 {
  margin-left: 0;
}

.u-section-9 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-9 .u-form-group-3 {
  margin-left: 0;
}

.u-section-9 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-9 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 736px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 609px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-social-icons-1 {
    width: 195px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 609px;
  }

  .u-section-9 .u-text-6 {
    letter-spacing: normal;
    text-transform: none;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 227px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 1282px;
  }

  .u-section-9 .u-shape-1 {
    height: 1011px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -924px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-9 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}